{{ define "main" }}

<div id="slideshow">

    <div>
        <img src="https://images.ctfassets.net/my3e36632gpy/3ingpuQ0wE4zErn4LfgiPK/092026d6479b05404fc5178f311b5b10/7-03_36_x_56_in_4.9_mb.jpg">
        <div class="image-caption">
            Untitled, 2021<br>
            Acrylic, oil, and hair on canvas<br>
            57 x 82 in (144.8 x 208.3 cm)
        </div>
    </div>

    <div>
        <img src="https://images.ctfassets.net/my3e36632gpy/2SzleSvcxSCpIuLKiriAQS/99a635f31b7f4dbd90a379cbf8c7c680/2-02_11_x_16_in_496_kb.jpg">
        <div class="image-caption">
            Untitled, 2015<br>
            Oil on canvas<br>
            100 x 76 in (254 x 193 cm)
        </div>
    </div>

    <div>
        <img src="https://images.ctfassets.net/my3e36632gpy/awNBQXQOLRsFhSxDb9H8Y/7288e56d4a648276b13eeac1f249117b/AG-P-443-image.jpg">
        <div class="image-caption">
            Untitled, 2016<br>
            Oil on canvas<br>
            21 x 15 in (53.3 x 38.1 cm)
        </div>
    </div>

</div>

<div id="image-caption-display">
    Untitled, 2021<br>
    Acrylic, oil, and hair on canvas<br>
    57 x 82 in (144.8 x 208.3 cm)
</div>

{{ end }}